<div id="header"> 
<nav class="navbar fixed-top navbar-light bg-light">

    <a class="navbar-brand" href="#">COVID19</a>
  
    <div id="searchbar">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="search">
    <a class="btn btn-outline-success my-2 my-sm-0" href="#{{search}}">Search</a>
  </div>

  
</nav>
 
      <div class="container-fluid">
        <div class="card" style="width: 100%;" *ngFor="let country of worldData">
          <a id="{{country.country}}"></a>
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <h3>Last updated:</h3>
              </div>
              <div class="col-sm">
                <h1>{{country.country}}</h1>
                <h1>Total: {{country.cases.total}}</h1>
              </div>
              <div class="col-sm">
              </div>
            </div>
          </div>

          
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <h3>Last updated:</h3>
                <h3>{{country.time}}</h3>
                <ngx-charts-pie-chart 
                [view]="view"
                [scheme]="colorScheme"
                [results]="getData(country)"
                [gradient]="gradient"
                [legend]="showLegend"
                [legendPosition]="legendPosition"
                [doughnut]="isDoughnut"
                >
        </ngx-charts-pie-chart>
              </div>
              <div class="col-sm">
                <h1>DEATHS</h1>
                <h1 id="deaths">{{country.deaths.total}}</h1>
                <h1>Active</h1>
                <h1 id="active">{{country.cases.active}}</h1>
              </div>
              <div class="col-sm">
                  <h1>Critical</h1>
                  <h1 id="critical">{{country.cases.critical}}</h1>
                  <h1>Recovered</h1>
                  <h1 id="recovered">{{country.cases.recovered}}</h1>
            </div>
          </div>

    </div>
  </div>




