
.mat-elevation-z8{
    align-content: center;
    align-items: center;
    margin: auto;
}
h1{
    text-align: center;
    align-content: center;
    font-size: 50px;
    padding-top: 2rem;
}

.card{
    margin-top: 2rem;
}
input{
    max-width: 40%;
    display: inline;
}
#searchbar{
    max-width: 50%;
    display: inline;
}
#critical{
    color: #ff0033;
}
#active{
    color: #ffe94a;
}
#recovered{
    color: #13ff00;
}
#space{
    margin-top: 5rem;
}